@model IEnumerable<GoodTrip.Models.Passagem>

@{
    ViewData["Title"] = "Compras";
}

<h1>Compras</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Comprar passagem</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Embarque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desembarque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preço)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Embarque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desembarque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preço)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id_pass">Editar</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id_pass">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_pass">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
